<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/registro.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!-- <script src="/login.js" defer></script> -->
    <title>Registro</title>
</head>

<body>
    <!-- https://stackoverflow.com/questions/23046801/height-not-100-on-container-fluid-even-though-html-and-body-are -->
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
            <div class="col-xs-12 col-sm-6 col-md-8" id="backImg">
                <!-- <img src="/img/landing.jpg" alt="" width="900"> -->
            </div>
            <div class="col-xs-6 col-md-4" id="userForm">
                <h1 class="mb-4 text-center">Registrate</h1>
                <form action="register" method="POST" class="mb-4">
                    <div class="form-group mb-4">
                        <label for="firstName">First Name</label>
                        <input type="text" name="firstName" id="firstName" required class="form-control">
                    </div>
                    <div class="form-group mb-4">
                        <label for="lastName">Last Name</label>
                        <input type="text" name="lastName" id="lastName" required class="form-control">
                    </div>
                    <div class="form-group mb-4">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" required class="form-control">
                    </div>
                    <div class="form-group mb-4">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" required class="form-control">
                    </div>
                    <div class="form-group mb-4">
                        <label for="birthDate">Birth Date</label>
                        <input type="date" name="birthDate" id="birthDate" required class="form-control">
                    </div>
                    <input type="submit" value="Register" class="btn btn-success mt-3">
                </form>
                <p class="d-inline">¿Ya tienes cuenta? <a href="login">Inicia sesión</a> </p>
            </div>
        </div>
    </div>
</body>

</html>

<!-- about implement toastr
    https://stackoverflow.com/questions/16549885/how-do-i-implement-toastr-js/16550012
-->