<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>All Pedals</title>
</head>

<body>
    <div class="container">
        <h2>Listado de pedales</h2>
        <% pedal.forEach(pedal => {%>
            <div>
                <img height="150" width="100" src="<%=pedal.coverImagePath %>" alt="pedal">
            </div>
            <div class="card-text mb-2">
                <%=pedal.description %>
            </div>
            <% })%>
    </div>
</body>

</html>