<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
</head>

<body>
    <h1>Demo del mes</h1>
    <a href="/demo/create">Only admins allowed</a>
    <nav class="navbar">
        <div class="content">
            <div class="logo"><a href="#">TakePedalTake</a></div>
            <ul class="menu-list">
                <div class="icon cancel-btn">
                    <i class="fas fa-times"></i>
                </div>
                <li><a href="/">Home</a></li>
                <li><a href="/post/newview">About</a></li>
                <li><a href="/post/">Posts</a></li>
                <li><a href="/compraventa/">Compraventa</a></li>
                <li><a href="/demo/">Demo</a></li>
                <% if(user){%>
                    <li><a href="/user/profile">Profile</a></li>
                    <%} else{%>
                        <li><a href="/user/register">Login</a></li>
                        <%}%>
            </ul>
            <div class="icon menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>
    <img src="/img/demo.jpg" alt="landing image" class="banner">
    <div class="center">
        <div class="title">DEMO</div>
    </div>
</body>

</html>