html,
body {
    height: 100%;
}

#backImg {
    background: url("../img/newpedal.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(70%);
}

#formLogin {
    height: 100%;
    background-color: #302c2c;
    color: white;
}

a {
    text-decoration: none;
    color: #2796ff;
}

a:hover {
    color: #81c2ff;
}