<div class="slider owl-carousel">
    <div class="card">
        <div class="img"><img src="./src/assets/img/pedal1.jpg" alt=""></div>
        <div class="content">
            <div class="title">Posts</div>
            <div class="sub-title">Información sobre pedales</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi ex accusamus porro unde sit blanditiis dolore ducimus deserunt incidunt sapiente.</p>
            <div class="btn">
                <button>Read more</button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="img"><img src="./src/assets/img/pedal2.jpg" alt=""></div>
        <div class="content">
            <div class="title">Compraventa</div>
            <div class="sub-title">Compra o alquila pedales</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi ex accusamus porro unde sit blanditiis dolore ducimus deserunt incidunt sapiente.</p>
            <div class="btn">
                <button>Read more</button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="img"><img src="./src/assets/img/pedal3.jpg" alt=""></div>
        <div class="content">
            <div class="title">Demo</div>
            <div class="sub-title">Para los curiosos</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi ex accusamus porro unde sit blanditiis dolore ducimus deserunt incidunt sapiente.</p>
            <div class="btn">
                <button>Read more</button>
            </div>
        </div>
    </div>
</div>