<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TakePedalTake</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/font-awesome/css/all.min.css"></script>
    <script src="/navbar.js" defer></script>
</head>

<body>
    <nav class="navbar">
        <div class="content">
            <div class="logo"><a href="/">TakePedalTake</a></div>
            <ul class="menu-list">
                <div class="icon cancel-btn">
                    <i class="fas fa-times"></i>
                </div>
                <li><a href="/">Home</a></li>
                <li><a href="/post/">Posts</a></li>
                <li><a href="/compraventa/">Compraventa</a></li>
                <li><a href="/demo/">Demo</a></li>
                <% if(user){%>
                    <li><a href="/user/profile">Profile</a></li>
                    <%} else{%>
                        <li><a href="/user/register">Login</a></li>
                        <%}%>
            </ul>
            <div class="icon menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>

    <img src="/img/landing.jpg" alt="landing image" class="banner">
    <div class="about2">
        <div class="content">
            <h1>Posts</h1>
            <h2>Información sobre pedales</h2>
        </div>
        <div class="photo">
        </div>
    </div>
    <div class="about2">
        <div class="photo">
        </div>
        <div class="content">
            <h1>Compraventa</h1>
            <h2>Compra o alquila pedales</h2>
        </div>
    </div>
    <div class="about2">
        <div class="content">
            <h1>Demo</h1>
            <h2>Para ti, curioso</h2>
        </div>
        <div class="photo" style="background:url('/img/demo3.jpg');background-size:cover;background-position: center;">
        </div>
    </div>
    <div class="about">
        <div class="content">
            <div class="title">Todo lo que deseabas saber, por fin en una web exclusiva para pedales</div>
        </div>
    </div>
    <!-- Footer -->
    <footer>
        <div class="main-content">
            <div class="left box">
                <h2>
                    About Me</h2>
                <div class="content">
                    <p>My name is Alejandro Agustopa and I present to you, my very first full website.</p>
                    <div class="social">
                        <a target="_blank" href="https://www.linkedin.com/in/alejandroagustopa/"><span class="fab fa-linkedin"></span></a>
                        <a target="_blank" href="https://github.com/aagustopa"><span class="fab fa-github"></span></a>
                        <a target="_blank" href="https://www.instagram.com/alejandro.agustopa/"><span class="fab fa-instagram"></span></a>
                    </div>
                </div>
            </div>
            <div class="center box">
                <h2>CONTACT ME</h2>
                <div class="content">
                    <div class="email">
                        <span class="fas fa-envelope"></span>
                        <span class="text">alejandroagustopa@gmail.com</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>