<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="css/random.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <h1>Views fuera de server en public/server</h1>
    <!-- <div class="container"> -->
    <div class="starting-btn">
        <!-- <input type="submit" value="TakePedalTake"> -->
        <a href="/user/create">Crea un nuevo usuario</a>
        <% articles.forEach(article => {%>
            <h2>
                <%=article.title %>
            </h2>
            <h3>
                <%=article.createdAt.toLocaleDateString()%>
            </h3>
            <h4>
                <%= article.description%>
            </h4>
            <% }); %>
    </div>
    <button type="submit" class="btn btn-success">Crear actividad</button>
    <!-- </div> -->
</body>

</html>