<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
</head>

<body>
    <nav class="navbar">
        <div class="content">
            <div class="logo"><a href="#">TakePedalTake</a></div>
            <ul class="menu-list">
                <div class="icon cancel-btn">
                    <i class="fas fa-times"></i>
                </div>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="/post/">Posts</a></li>
                <li><a href="#">Compraventa</a></li>
                <li><a href="/user/register">Login</a></li>
                <li><a href="/user/profile">Profile</a></li>
            </ul>
            <div class="icon menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>

    <footer>
        <div class="main-content">
            <div class="left box">
                <h2>
                    About us</h2>
                <div class="content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum quisquam vitae exercitationem esse dolore reiciendis ad, animi quam voluptatibus, unde, eum accusamus! Quos maiores rerum quasi tempora voluptatem aspernatur nulla, perferendis officiis.
                        Quam exercitationem suscipit maxime id eos quibusdam at?</p>
                    <div class="social">
                        <a target="_blank" href="https://www.linkedin.com/in/alejandroagustopa/"><span class="fab fa-linkedin"></span></a>
                        <a target="_blank" href="#"><span class="fab fa-twitter"></span></a>
                        <a target="_blank" href="https://www.instagram.com/alejandro.agustopa/"><span class="fab fa-instagram"></span></a>
                    </div>
                </div>
            </div>
            <div class="center box">
                <h2>
                    CONTACT US</h2>
                <div class="content">
                    <div class="place">
                        <span class="fas fa-map-marker-alt"></span>
                        <span class="text">Lorem Ipsum</span>
                    </div>
                    <div class="phone">
                        <span class="fas fa-phone-alt"></span>
                        <span class="text">603611987</span>
                    </div>
                    <div class="email">
                        <span class="fas fa-envelope"></span>
                        <span class="text">lorem@example.com</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>